*/**/__pycache__
.obsidian
*/**/temp.md
*.egg-info/
build/
*/**/build/
*/**/dist/
*/**/*.egg-info
.idea
.mypy_cache
**/.ipynb_checkpoints
*/**/.env
docs/source/_autosummary
netunicorn-library/pyproject.toml
netunicorn-library/src/netunicorn/library/tasks
netunicorn-library/src/netunicorn/library/pipelines
.vscode