<!DOCTYPE html>
<html lang="en">
<head>
    <title>netUnicorn admin panel</title>
</head>
<body>
    <h1>Active Experiments</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Experiment Name</th>
            <th>Experiment ID</th>
            <th>Status</th>
            <th>Error</th>
            <th>Creation Time</th>
            <th>Start Time</th>
        </tr>
        {% for row in active_experiments %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Locked Nodes</h1>
    <table>
        <tr>
            <th>Node Name</th>
            <th>Username</th>
            <th>Connector</th>
        </tr>
        {% for row in locked_nodes %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Active Compilations</h1>
    <table>
        <tr>
            <th>Experiment ID</th>
            <th>Compilation ID</th>
            <th>Architecture</th>
            <th>Environment Definition</th>
        </tr>
        {% for row in active_compilations %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
